body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
}

@font-face {
    font-family: VNF-Bodoni;
    src: url(fonts/VNF-Bodoni\ Regular.ttf);
}

.tieude {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 300px
}

.container .khoimes {
    margin-bottom: 395px;
}

.container .khoimes .mes1 img {
    margin-bottom: 79px;
    margin-left: 150px;
    opacity: 0;
    transition: 3s;
}

.container .khoimes .mes2 img {
    float: right;
    margin-right: 150px;
    opacity: 0;
    transition: 5s;
}

.container .khoimes .mes1-scroll img {
    margin-bottom: 79px;
    margin-left: 150px;
    opacity: 1;
    transition-delay: 1s;
    transition: 2s;
}

.container .khoimes .mes2-scroll img {
    float: right;
    margin-right: 150px;
    opacity: 1;
    transition: 5s;
    transition-delay: 1s;
}

.photo {
    display: flex;
    justify-content: center;
    transition: 0.8s;
    transform: scale(1.4);
}

.photo-scale1 {
    display: flex;
    justify-content: center;
    transition: 0.8s;
    transform: scale(1.3)
}

.photo-scale2 {
    display: flex;
    justify-content: center;
    transition: 0.8s;
    transform: scale(1.2)
}

.lacmatem {
    display: flex;
    justify-content: center;
    padding-top: 223px;
    padding-bottom: 160px;
    opacity: 0;
    transition: 3s;
}

.lacmatem1 {
    display: flex;
    justify-content: center;
    padding-top: 223px;
    padding-bottom: 160px;
    opacity: 1;
    transition: 3s;
}

.video {
    display: flex;
    justify-content: center;
}

.text1 {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    margin-top: 131px;
    margin-bottom: 131px;
}

.container .khoimes2 .mes3 img {
    margin-bottom: 79px;
    margin-left: 150px;
    opacity: 0;
    transition: 3s;
}

.container .khoimes2 .mes4 img {
    float: right;
    margin-bottom: 79px;
    margin-right: 150px;
    opacity: 0;
    transition: 3s;
}

.container .khoimes2 .mes5 img {
    margin-left: 150px;
    opacity: 0;
    transition: 3s;
}

.container .khoimes2 .mes3-scroll img {
    margin-bottom: 79px;
    margin-left: 150px;
    opacity: 1;
    transition-delay: 1s;
    transition: 3s;
}

.container .khoimes2 .mes4-scroll img {
    float: right;
    margin-bottom: 79px;
    margin-right: 150px;
    opacity: 1;
    transition-delay: 2s;
    transition: 3s;
}

.container .khoimes2 .mes5-scroll img {
    margin-left: 150px;
    opacity: 1;
    transition: 3s;
}

.khungnoidung {
    display: flex;
    justify-content: center;
}

.noidung {
    width: 1544px;
    margin-top: 140px;
}

.noidung .trai {
    float: left;
}

.noidung .trai .bonmuahanoi img {
    width: 878px;
}

.noidung .phai .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    float: right;
    width: 610px;
    height: auto;
    opacity: 0;
    transition: 2s;
}

.noidung .phai .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    float: right;
    width: 610px;
    height: auto;
    opacity: 1;
    transition: 2s;
}

.khoimes3 {
    margin-top: 80px;
    margin-bottom: 130px;
}

.container .khoimes3 .mes6 img {
    margin-bottom: 70px;
    margin-left: 150px;
    opacity: 0;
    transition: 3s;
}

.container .khoimes3 .mes7 img {
    float: right;
    margin-right: 150px;
    opacity: 0;
    transition: 3s;
}

.container .khoimes3 .mes6-scroll img {
    margin-bottom: 70px;
    margin-left: 150px;
    opacity: 1;
    transition: 3s;
}

.container .khoimes3 .mes7-scroll img {
    float: right;
    margin-right: 150px;
    opacity: 1;
    transition: 3s;
}

.chieuthuthang10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
}

div.tinnhan1 {
    position: absolute;
    top: 24%;
    left: -25%;
    transition: 3s
}

div.tinnhan11 {
    position: absolute;
    top: 24%;
    left: 25%;
    transition: 3s
}

div.tinnhan2 {
    position: absolute;
    top: 28%;
    right: -25%;
    transition: 3s
}

div.tinnhan21 {
    position: absolute;
    top: 28%;
    right: 21%;
    transition: 3s
}

div.queto3 {
    margin-top: -250px;
    transition: 2s
}

div.queto31 {
    margin-top: 100px;
    transition: 2s
}

div.content3 {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 700px;
    font-size: 16pt;
    font-family: VNF-Bodoni;
}

div.anh2 {
    position: absolute;
    top: 100%;
    left: 19%;
    margin-bottom: 80px;
    transition: 3s;
    opacity: 0;
}

div.anh21 {
    position: absolute;
    top: 100%;
    left: 19%;
    margin-bottom: 80px;
    transition: 3s;
    opacity: 1;
}

div.anh3 {
    position: absolute;
    top: 100%;
    right: -29%;
    margin-bottom: 80px;
    transition: 3s;
    opacity: 0;
}

div.anh31 {
    position: absolute;
    top: 100%;
    right: 19%;
    margin-bottom: 80px;
    transition: 3s;
    opacity: 1;
}

div.content4 {
    position: absolute;
    top: 157%;
    margin-bottom: 80px;
    width: 700px;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    opacity: 0;
    transition: 3s;
}

div.content41 {
    position: absolute;
    top: 157%;
    margin-bottom: 80px;
    width: 700px;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    opacity: 1;
    transition: 3s;
}

div.anh4 {
    position: absolute;
    top: 177%;
    right: -19%;
    margin-bottom: 80px;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    transform: scale(1.2);
    opacity: 0;
    transition: 3s;
}

div.anh41 {
    position: absolute;
    top: 177%;
    right: 19%;
    margin-bottom: 80px;
    font-size: 16pt;
    font-family: VNF-Bodoni;
    transform: scale(1.2);
    opacity: 1;
    transition: 3s;
}

div.tinnhan3 {
    position: absolute;
    top: 180%;
    right: -30%;
    transition: 3s;
    opacity: 0;
}

div.tinnhan31 {
    position: absolute;
    top: 180%;
    right: 40%;
    opacity: 1;
    transition: 3s;
}

div.tinnhan4 {
    position: absolute;
    top: 187%;
    left: -29%;
    transition: 3s;
    opacity: 0;
}

div.tinnhan41 {
    position: absolute;
    top: 187%;
    left: 19%;
    opacity: 1;
    transition: 3s;
}

div.anh5 {
    position: absolute;
    top: 207%;
}

div.tinnhan5 {
    position: absolute;
    top: 223%;
    opacity: 0;
    transition: 5s;
}

div.tinnhan51 {
    position: absolute;
    top: 223%;
    opacity: 1;
    transition: 5s;
}

div.anh6 {
    position: absolute;
    top: 267%
}

div.tinnhan6 {
    position: absolute;
    left: 43%;
    top: 276%;
    transition: 3s;
}

div.tinnhan61 {
    position: absolute;
    left: 43%;
    top: 330%;
    transition: 3s;
}

div.kengang {
    position: absolute;
    top: 350%;
}

div.ten1 {
    position: absolute;
    left: -30%;
    top: 355%;
    margin-bottom: 70px;
    transition: 3s;
}

div.ten11 {
    position: absolute;
    left: 30%;
    top: 355%;
    margin-bottom: 70px;
    transition: 3s;
}

div.ten2 {
    position: absolute;
    right: -30%;
    top: 355%;
    margin-bottom: 70px;
    transition: 3s;
}

div.ten21 {
    position: absolute;
    right: 30%;
    top: 355%;
    margin-bottom: 70px;
    transition: 3s;
}